.addressContainer{
  padding: 16px 0;
  border-top: 1px solid #D7D7D7;
  .addressExactly{
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
  }
}
.addressContainer:last-child{
  padding-bottom: 0;
}
