.App {
  text-align: center;
  display: flex;
}

main{
  padding: calc(80px + 2rem) 2rem 2rem 2rem;
  height: 100vh;
  width: 100%;
  text-align: left;
}

nav{
  padding-top: 80px !important;
  height: 100vh;
  width: 300px;
}
